<div class="container">
  <nav>
    <a href="">Events Dashboard</a>
    <span>|</span>
    <a href="">Logout</a>
  </nav>

  <h1><%= @event.name %></h1>

  <div class="col-md-7">
    <h4>Host: <%= @event.user.first_name %></h4>
    <h4>Date: <%= @event.date %></h4>
    <h4>Location: <%= @event.city %></h4>
    <h4>People who are joining the event: <%= @event.atendees.count %></h4>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-5">
    <h3>Discussion About This Event</h3>
    <div style="height: 300px; border:1px solid black; overflow: scroll;">

    </div>

    <form action="/events" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label for="commet" class="control-label">Add Comment</label>
        <textarea class="form-control" rows="3" name="event[comment]"></textarea>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <button type="submit" class="btn btn-default">Submit Comment</button>
        </div>
      </div>
    </form>
  </div>
</div>
